html,
body,
.container,
.page {
    height: 100%;
}

body {
    border: 10px #444 solid;
    border-top: 0;
    border-bottom: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.page {
    padding: 0 10px;
    margin: 0;
}

body {
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 0.7em;
    margin-bottom: 0.7em;
    font-size: 5em;
}

button[name="submit"] {
    margin-top: 3em;
}

input[type="number"],
input[type="text"] {
    text-align: center;
    font-size: 2em;
    font-family: monospace;
}

.form-row {
    padding-bottom: 1em;
    text-align: left;
}

.intro {
    margin-bottom: 3em;
    text-align: justify;
}

.header-icon {
    font-size: 7em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    animation: pulse 2s alternate infinite ease-in-out;
}

.header-icon-rotate {
    animation-name: rotate-pulse;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes rotate-pulse {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.2) rotate(360deg);
    }
}

p,
label {
    padding: 3px 10px;
    border-radius: 3px;
    background: #444;
    color: white;
}
