[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
black = "==19.10b0"
ipython = "*"
pylint = "*"

[packages]
asyncpg = "==0.20.1"
websockets = "==8.1"
coolname = "==1.1.0"

[requires]
python_version = "3.8"
